$body-color: #000000;
$primary-color: #fedc97;
$perc-color: #ffcf4b;
$medium-color: #b5b682;
$secondary-color: #28666e;
$third-color: #7c9885;
$dark-color: #333;
$light-color: #f4f4f4;
$width: 1280px;
$showcase-img: url("../img/showcase.jpg");
$photography: 100%;
$adobe-photoshop: 80%;
$adobe-illustrator: 50%;
$html-css: 100%;
$wordpress: 90%;
$magneto: 40%;
